/* Reminder to trim fonts when complete */
@font-face {
    font-family: 'Monterrat';
    src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf')  format('truetype');
    src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf')  format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-ThinItalic.ttf')  format('truetype');
    src: url('../fonts/Roboto/Roboto-Black.ttf')  format('truetype');
}

:root {
    --exclaim: #e2be5c;
    --custom-blue: #3f46afb9;
    --custom-blue-emphasis: #3f46af;
    --plain: #ffffff;
    --text: #000;
    --theme-color2: #cfaf58;
    --theme-color: #DEB887;
}

*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Monterrat, Roboto;
    min-height: 100vh;
    color: var(--text);
}

li {
    list-style: none;
}

nav {
    padding: 7px 10px;
    box-shadow: -5px 1px 10px 1px var(--custom-blue);
    animation: animatedNavShadow 0.4s ease-out;
}

.navmenu__options {
    display: flex;
    justify-content: space-between;
}

.home {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo__container {
    border: 1px solid var(--custom-blue);
    width: 35px;
    box-shadow: 0px 1px 0px 1px var(--custom-blue);
    transition: box-shadow 0.3s ease-in;
}

.logo__container:hover {
    box-shadow: 0px 0px 0px -3px var(--custom-blue);
}

.logo__container:hover .home__logo {
    cursor: pointer;
}

.fancyText {
    font-family: Monterrat;
    font-style: normal;
    color: var(--custom-blue);
}

.animate__text {
    color: var(--plain);
    border: 1px solid var(--custom-blue);
    background-color: var(--custom-blue);
    text-shadow: 0px 4px 0px var(--custom-blue);
    border-bottom: 6px solid var(--custom-blue-emphasis);
    padding: 0px 5px;
}

.highlighted {
    font-family: Roboto;
    font-style: normal;
    font-weight: 990;
    font-size: 17px;
    background-color: var(--custom-blue);
    color: var(--plain);
    letter-spacing: 2px;
    padding: 7px;
    text-shadow: 0px 2px 0px var(--custom-blue);
}

.exclaimation {
    color: var(--exclaim);
}

.home__title:hover {
    cursor: pointer;
}

.home__logo {
    object-fit: contain;
    width: 100%;
}

.menu__options {
    display: flex;
    align-items: center;
    gap: 12px;
}

.link {
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 2px;
    transition: box-shadow 0.1s ease-in;
    box-shadow: 0px 2px 1px 2px var(--custom-blue);
}

.hidden {
    display: none;
}

.link:active {
    box-shadow: 0px 2px 1px 1px var(--custom-blue);
}

.link:hover {
    cursor: pointer;
}

.icon {
    background-color: black;
}

.download__container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 15px;
    bottom: 15px;
    position: fixed;
}

.download {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    transition: background-color border 0.3s ease-in;
    
}

.download__container:hover {
    cursor: pointer;
}

.download__container:hover .download {
    background-color: var(--custom-blue);
    border: 4px solid var(--custom-blue-emphasis);
}

.list__text {
    padding: 1px;
}

.centered__text {
    display: flex;
    justify-content: center;
    padding: 55px 0;
    text-align: center;
    width: 100%;
}

.intro__text {
    align-self: center;
    max-width: 550px;
    font-size: clamp(1vw, 30px, 40px);
    word-wrap: break-word;
    line-height: 1.3;
}

.main__content {
    min-height: 100vh;
}